.EventComponent{
    background-color: rgb(238, 236, 236);
    grid-column: auto;
    height: 200px;
    margin: 1vw;
    border-radius: 0.5vw;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 2fr 1fr;
}

.EventComponent h3{
    font-family: 'Poppins';
    font-weight: bold;
    text-align: left;
    padding: 1.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    margin: 0;
    color: #333;

}
.EventComponent p{
    font-family: 'Lato';
    text-align: left;
    padding-left: 2.2em;
    padding-top: 0.5em;
    font-size: 0.8em;
    color: #888;
    margin: 0;

}

.EventDate{
    text-align: right
}
.EventDate h4, .EventDate h5{
    font-family: 'Lato';
    font-weight: 100;
    color: #888;
}

.EventDate h4{
  padding-right: 1.2em;
  margin-bottom: 0;
  font-size: 1em;
  padding-top: 1.8em
}
.EventDate h5{
    padding-right: 1.7em;
    margin: 0;
    font-size: 0.7em;
}
.buttonContain{
    justify-self: end;
    align-self: end;
    padding-right: 2em;
}