body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-orange {
  background-color: orange !important;
  border-color: #eb9834 !important;
}

.btn-orange:hover {
  background-color: #eb9834 !important;
}

.boxes {
  width: 50%;
  display: inline-block;
  height: 700px;
  vertical-align: middle;
  text-align: center;
}

.boxes .btn {
  margin-top: 200px;
}

.left {
  background-color: orange;
}

.right {
  background-color: #fff;
} 

.volunteers-page {
  background-color: #ddd;
  height: 1000px;
}

.container-fluid > .row {
  padding-top: 40px;
}

.search {
  width: 200px;
  text-align: right;
  float:right;
}

.title, .title > h4 {
  display: inline;
  text-align: left;
}

.publication {
  text-align: left;
  margin-top: 15px;
  border-radius: 20px;

  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card-date { 
  grid-area: 1 / 3 / 2 / 4; 
  text-align: center;
  margin-top: 20px;
}
.card-body { 
  grid-area: 1 / 2 / 2 / 3; 
}
.card-image { 
  grid-area: 1 / 1 / 2 / 2; 
  text-align: center;
  margin-top: 50px;
}

.applications {
  height: 500px;
  text-align: left;
  margin-top: 15px;
  border-radius: 20px;
}
.applications .card-title h6 {
  text-align: center;
}

.application {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
}

.application-image {
  grid-area: 1 / 1 / 2 / 2; 
}

.application-text {
  grid-area: 1 / 2 / 2 / 3; 
  font-size: 10px;
}

.application-button {
  grid-area: 1 / 3 / 2 / 4;
}
