body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.boxes {
  width: 50%;
  display: inline-block;
  height: 700px;
  vertical-align: middle;
  text-align: center;
}

.boxes .btn {
  margin-top: 200px;
}

.left {
  background-color: orange;
}

.right {
  background-color: #fff;
} 

.volunteers-page {
  background-color: #ddd;
  height: 1000px;
}

.container-fluid > .row {
  padding-top: 40px;
}

.search {
  width: 200px;
  text-align: right;
  float:right;
}

.title, .title > h4 {
  display: inline;
  text-align: left;
}

.profile-box {
  height: 480px;
  background-color: #fff;
  text-align: center;
}

.profile-picture {
  border-radius: 50px;
  width: 120px;
  height: 120px;
  margin: 20px 10px 10px 35px;
  border-radius: 100px;
  background-image: url("https://img2.thejournal.ie/inline/1881369/original/?width=630&version=1881369");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.profile-data {
  display: flex;
  flex-direction: column; 
}

.profile-data p {
  margin: 10px;
}
