body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-orange {
  background-color: orange !important;
  border-color: #eb9834 !important;
}

.btn-orange:hover {
  background-color: #eb9834 !important;
}

.boxes {
  width: 50%;
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  text-align: center;
}

.boxes .btn {
  margin-top: 40%;
}

.left {
  background-color: orange;
}

.right {
  background-color: #fff;
} 


